---
repos:
  - hooks:
      - id: yamllint
    repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
  - hooks:
      - id: shellcheck
    repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
  - hooks:
      - id: gitlint
        name: gitlint
        entry: gitlint
        stages: [commit-msg]
    repo: https://github.com/jorisroovers/gitlint
    rev: v0.18.0
  - hooks:
      - id: go-mod-tidy
    repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
  - hooks:
      - id: golangci-lint-full
        args:
          - --disable-all
          - --verbose
          - --enable
          - gofmt
          - --enable
          - govet
          - --enable
          - ineffassign
          - --enable
          - staticcheck
          - --enable
          - unused
    repo: https://github.com/golangci/golangci-lint
    rev: v1.55.1
