---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: map-maker
rules:
  - apiGroups:
      - ''
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - update
      - patch
      - create
