---
#
# Save the output of this file and use kubectl create -f to import
# it into Kubernetes.
# Created with podman-4.5.1
apiVersion: v1
kind: Pod
metadata:
  name: {{ .PodName }}
spec:
  containers:
    - image: kwok
      name: kwok
      ports:
        - containerPort: 8080
          hostPort: 8080
        - containerPort: 8070
          hostPort: 8070
        - containerPort: 8060
          hostPort: 8060
